<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.callsigntask.queries">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application  android:theme="@style/Theme.AppCompat"
        android:name=".QueryApplication">
        <activity android:name="com.callsigntask.queries.ui.activity.CallSignActivity" />
    </application>

</manifest>